*, *:before, *:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    margin: 0;
    background-color: #f5f5f5;
    line-height: 28px;
}

/* --------------------------------- */
/*  Restyle HTML tag */
/* --------------------------------- */

h1 {
    margin: 0;
}

p {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

ul {
    margin: 5px 0;
}

/* --------------------------------- */
/* Base Style */
/* --------------------------------- */

.text-black {color: black;}
.text-small {font-size: 12px;}
.text-big {font-size: 42px;}
.text-light {font-weight: 300;}
.text-medium {font-weight: 500;}
.text-bold {font-weight: 700;}
.text-gl {
    font-weight: 500;
    color: rgb(116, 116, 116);
}
.text-center {text-align: center;}

/* --------------------------------- */
/* Content style */
/* --------------------------------- */


#container {
    max-width: 700px;
    width: 100%;
    margin: 40px auto;
    padding: 25px 55px;
}

#profile {
    display: flex;
    /* justify-content: center; */
}

.img-avatar {
    margin-right: 30px;
}

.text-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.img-avatar img {
    width: 100px;
    border-radius: 50%;
}

.section-data {
    margin-top: 50px;
}

.skill-list {
    display: inline-block;
}

.skill-item {
   float: left; 
   width: 50%;
}

.edu-list {
    margin-left: 20px;
    border-left: 1px solid black;
    padding-top: 10px;
}

.edu-item {
    padding-left: 15px;
    margin-top: 10px;
    position: relative;
}

.first-edu-item{
    margin-top: 0px;
}

.border-icon {
    border-left: 8px solid #f51c40;
    position: absolute;
    top: 5%;
    bottom: 75%;
    left: -4px;
}


/* mobile responsive */
@media only screen and (max-width: 550px) {
    #profile, .text-profile {
        display: block;
    }

    .img-avatar {
        margin-right: 0;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 25px;
    }

    .skill-list {
        display: block;
    }

    .skill-item {
        float: none;
        width: 100%;
    }
}

